$grey-color: #F0F0F0;
$green-color: #00b300;
$button-color: #008000;
$form-color: #33CC66;
$erros-color: red;
$areas-color: #FFCC66;
$notice-color: #00ff80;
$alert-color: #FF3300;
$button-color: #2B65EC;
$head-button-color: #FFD801;