@import "color_schem";

.button {
  display: inline-block;
  border: 1px $button-color solid;
  border-radius: 5px;
  color: white;
  background-color: #6534ff;
  padding: 4px 6px;
  text-decoration: none;
  
  margin: 5px;
  

  &:hover {
    background-color: #62bcfa;
    color: #fff;
  }
}

.header-button {
  display: inline-block;
  border: 1px $head-button-color solid;
  border-radius: 5px;
  color: $head-button-color;
  padding: 5px 7px;
  text-decoration: none;

   &:hover {
      background-color: #52D017;
      color: #fff;
      border: none;
      text-decoration: none;
    }
}

.wish-button {
  display: inline-block;
  border-radius: 5px;
  color: #fff;
  background-color: $green-color;
  padding: 5px 7px;
  text-decoration: none;

   &:hover {
        display: inline-block;
        border-radius: 5px;
        color: #fff;
        background-color: #52D017;;
        padding: 5px 7px;
        text-decoration: none;
    }
}

