// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'color_schem';

.product {
  padding-bottom: 20px;
  border-bottom: 1px solid #808080;
  white-space: nowrap;
  img {
    float: left;
    margin: 0 15px;
    border: 3px solid $grey-color;
  }  
}
