<h1>List of products</h1>
<% if @wishlist.empty? %>
  <h2>There are currently no products in this wishlist</h2>
<% else %>
  <% @wishlist.each do |list| %>
    <li><%= link_to list.product.name, product_url(list.product) %></h1>
  <% end %>
<% end %>  
