<div style="float: right">
  <% unless @cart.product_items.empty? %>
    <aside class="p-aside" id="cartDisp">
      <nav>
        <ul>
	      <%= render 'carts/display_cart' %> 
	    </ul>  
	  </nav>
    </aside>
  <% end %>
  <aside class="p-aside">
	<nav>
	  <ul>	
	    <%= link_to "All products", products_path, class: 'button'%>
	  </ul>
	  <ul>
	    <%= link_to "Add new product", new_product_path(@product), class: 'button' %>
	  </ul>  
	</nav>
  </aside>
</div>